HSJattack/imagenet-object-localization-challenge.zip
HSJattack/*-workspace
HSJattack/time.onnx
HSJattack/time.h5
HSJattack/EfficientNetB0_butterfly.h5
HSJattack/Butterfly.onnx
HSJattack/ILSVRC
HSJattack/output_images
HSJattack/output_images_3_iter
HSJattack/imagenet_val
HSJattack/valid
HSJattack/imagenet_val_subset
HSJattack/__pycache__
HSJattack/archive

NESattack/imagenet*
NESattack/butterfly*

data/
NESattack/EfficientNetB0-100-(224 X 224)- 97.59.h5

output
data
misc
./env.txt

*.JPEG
*.txt

NESattack/outputs/run_*/*.jpg